<!DOCTYPE html>
<html>
  <head>
    <title>Experience</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render "shared/header" %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
